@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<!-- Background Video-->
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="assets/mp4/bg.mp4" type="video/mp4" style="z-index: 100;" /></video>
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0" style="padding-top: 2rem;">
            <h2 class="fst-italic lh-1 mb-4">Thank you for visiting my portfolio website!</h2>
            <p class="mb-5">Please note that you will need to be logged in to see Billing SPA (C#) due to its Stripe integration.
                Traffic ML (Python) and TimeInDinero (Node.js) are publicly available and do not need a login.</p>
            <form id="contactForm">
                @{
                    if (!SignInManager.IsSignedIn(User))
                    {
                        <div class="row input-group-newsletter" style="padding-bottom: 2rem;">
                            <div class="col-auto"><button class="btn btn-primary" asp-controller="Home" asp-action="Register">Register</button></div>
                            <div class="col-auto"><button class="btn btn-primary" asp-controller="Home" asp-action="Login">Login</button></div>
                        </div>
                    }
                }
            </form>
        </div>
    </div>
</div>

<!-- Social Icons-->
<div class="social-icons">
    <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
        <a data-placement="left" data-content="Coming Soon!" class="btn btn-dark m-3 popover-hover" href="#!">
            <i class="fab fa-twitter"></i>
        </a>
        <a data-placement="left" data-content="Coming Soon!" class="btn btn-dark m-3 popover-hover" href="#!">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a data-placement="left" data-content="Coming Soon!" class="btn btn-dark m-3 popover-hover" href="#!">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</div>


