@{
    ViewData["Title"] = "Home Page";
}


<!-- Background Video-->
<video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="assets/mp4/bg.mp4" type="video/mp4" style="z-index: 100;" /></video>
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0" style="padding-top: 2rem;">
            <h1 class="fst-italic lh-1 mb-4">Our Website is Coming Soon</h1>
            <p class="mb-5">We're working hard to finish the development of this site. Sign up below to receive updates and to be notified when we launch!</p>
            <form id="contactForm">
                <!-- Email address input-->
                <div class="row input-group-newsletter" style="padding-bottom: 2rem;">
                    <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Sign Up</button></div>
                    <div class="col-auto"><button class="btn btn-primary disabled" id="submitButton" type="submit">Log In</button></div>
                </div>

            </form>
        </div>
    </div>
</div>

    <!-- Social Icons-->
    <div class="social-icons">
        <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <a data-toggle="tooltip" data-placement="bottom" title="Coming Soon!"
               class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
            <a data-toggle="tooltip" data-placement="bottom" title="Coming Soon!"
               class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a data-toggle="tooltip" data-placement="bottom" title="Coming Soon!"
               class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
        </div>
    </div>


