<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Billing Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/Dashboard/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Dashboard/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/Dashboard/style.css" />
    @await RenderSectionAsync("Styles", required: false)


</head>

<body>
    <script src="https://js.stripe.com/v3/"></script>
    @*navbar*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="nav-fix">
        <div class="container-fluid">
            @*Offcanvas sidebar trigger*@
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
            </button>

            <a class="navbar-brand fw-bold me-auto" href="#">Traffic MVC<i class="bi bi-person-fill"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 p-3">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="https://medium.com/@@deidra108?p=cbf3fd1bad00" target="_blank" id="link-text">Traffic ML (Python)</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="https://github.com/deeData/TimenDinero-Heroku" target="_blank" id="link-text">TimeInDinero (Node.js)</a>
                    </li>
                </ul>
                <ul>
                    <li class="nav-item dropdown pt-2" id="position-right">
                        <a asp-controller="Home" asp-action="Logout" style="text-decoration: none">
                            <i class="bi bi-person-fill"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @*offcanvas side panel---- custom css: sidebar-nav*@
    <div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 pt-3">TEST MODE</div>
                    </li>
                    <li>
                        <div class="p-3">
                            <a href="#" class="nav-link px-3 active me-2"></a>
                            <span class="me-2"><i class="bi bi-calendar2-plus"></i></span>
                            <span>Billing Account</span>
                        </div>
                    </li>
                    <li class="my-4">
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 pt-3">Administrator</div>
                    </li>
                    @*Prescribed Billing Charge*@
                    <li class="row p-4">
                        <div class="">
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Charge/Fine
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="amounts">
                                    <li class="dropdown-item border" href="#">
                                        <span class="violation">Defective Vehicle</span>
                                        <span> $</span><span class="fine">50.00</span>
                                    </li>
                                    <li class="dropdown-item border" href="#">
                                        <span class="violation">Speeding</span>
                                        <span> $</span><span class="fine">80.00</span>
                                    </li>
                                    <li class="dropdown-item border" href="#">
                                        <span class="violation">Reckless Driving</span>
                                        <span> $</span><span class="fine">100.00</span>
                                    </li>
                                    <li class="dropdown-item border" href="#">
                                        <span class="violation">DUI</span>
                                        <span> $</span><span class="fine">500.00</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="mt-4">
                                <input class="form-control" type="text" id="amt" readonly />
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-danger" onclick="postCharge()">Charge to Ledger</button>
                            </div>

                        </div>
                    </li>
                    @*END-----Billing Charge*@
                </ul>
            </nav>
        </div>
    </div>

    @*main*@
    <main class="mt-5 pt-3">
        @RenderBody()

    </main>

    <script href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="~/js/Dashboard/bootstrap.bundle.min.js"></script>
    <script src="~/js/Dashboard/jquery-3.5.1.js"></script>
    <script src="~/js/Dashboard/jquery.dataTables.min.js"></script>
    <script src="~/js/Dashboard/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/Dashboard/script.js"></script>

    @*for test.cshtml*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--notification library using BS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    @*bill charge section*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*required by stripe*@
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="~/js/stripeClient.js" asp-append-version="true" defer></script>

    @*datatable in test.cshtml*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

    <!--includes popover library using BS, all other custom code-->
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>
